{% extends "process/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- case detail -->
<div class="container mt-3">
    <div class="d-flex align-items-center mb-2">
        <h2 class="mb-0 mr-2">Case #{{ case.id }} Details</h2>
        <small>
            <a href="{% url 'process-case-edit' case.id %}">Edit</a>
        </small>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- add a badge to show the status -->
            {% if case.status == "closed" %}
                <span class="mb-4 badge" style="border: 1px solid #6c757d; background-color: #f2f2f2; color: #6c757d;">
                    {{ case.status|upper }}
                </span>
            {% else %}
                <span class="mb-4 badge" style="border: 1px solid #007bff; background-color: #e9f5ff; color: #007bff;">
                    {{ case.status|upper }}
                </span>
            {% endif %}
            <p>{{ case.description }}</p>
            <p>Created At: {{ case.created_at }}</p>
            <p>Assigned To: {{ case.assigned_to }}</p>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end justify-content-start">
            {% if case.status == "closed" %}
                <a href="{% url 'process-case-update-status' case.id %}" class="btn btn-sm btn-secondary mb-2" style="min-width: 200px;">
                    Reopen Case
                </a>
            {% else %}
                <a href="{% url 'process-case-update-status' case.id %}" class="btn btn-sm btn-secondary mb-2" style="min-width: 200px;">
                    Close Case
                </a>
            {% endif %}
            {% if case.is_complaint %}
            <a href="{% url 'process-customer-complaint-new' case.id %}" class="btn btn-sm btn-primary mb-2 text-center" style="min-width: 200px;">
                <span class="mr-1">+</span> Customer Complaint
            </a>
            {% endif %}
            {% if case.is_return %}
            <a href="{% url 'process-return-new' case.id %}" class="btn btn-sm btn-primary mb-2 text-center" style="min-width: 200px;">
                <span class="mr-1">+</span> Return
            </a>
            {% endif %}
            {% if case.is_credit %}
            <a href="{% url 'process-credit-new' case.id %}" class="btn btn-sm btn-primary text-center" style="min-width: 200px;">
                <span class="mr-1">+</span> Credit
            </a>
            {% endif %}
            {% if case.is_scrap %}
            <a href="{% url 'process-scrap-new' case.id %}" class="btn btn-sm btn-primary text-center mt-2" style="min-width: 200px;">
                <span class="mr-1">+</span> Scrap
            </a>
            {% endif %}
            
        </div>
    </div>
    <!-- add something nice to show if it's a complaint is_complaint, is_return and is_credit they are booleans -->
    {% if case.is_complaint %}
        <span class="badge badge-secondary mr-1">Complaint</span>
    {% endif %}
    {% if case.is_return %}
        <span class="badge badge-secondary mr-1">Return</span>
    {% endif %}
    {% if case.is_credit %}
        <span class="badge badge-secondary">Credit</span>
    {% endif %}
    {% if case.is_scrap %}
        <span class="badge badge-secondary">Scrap</span>
    {% endif %}
    <hr>
    <div class="row">
        <!-- Customer Complaints Column -->
        {% if case.is_complaint %}
        <div class="col-md-3">
            <h3>Customer Complaints</h3>
            {% if complaints %}
                {% for complaint in complaints %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- add a badge to show the status -->
                            <span class="mb-4 badge" style="border: 1px solid #007bff; background-color: #e9f5ff; color: #007bff;">
                                {{ complaint.status|upper }}
                            </span>
                            {% if complaint.status == "open" %}
                                <a href="{% url 'process-complaint-edit' case.id complaint.id %}"  class="btn btn-success btn-sm float-right mb-2"
                                        onclick="return confirm('Have you submitted the customer complaint for to quality?');">
                                    Submit Form to Quality
                                </a>
                            {% endif %}
                            <div class="d-flex align-items-center mb-2">
                                <h5 class="mb-0 mr-2">Complaint #{{ complaint.number }}</h5>
                                <small>
                                    <a href="{% url 'process-complaint-edit' case.id complaint.id %}">Edit</a>
                                </small>
                            </div>
                            <p class="card-text">Description: {{ complaint.description }}</p>
                            <p class="card-text">Created At: {{ complaint.created_at }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No customer complaints found for this case.</p>
            {% endif %}
        </div>
        {% endif %}
        <!-- Returns Column -->
         {% if case.is_return %}
        <div class="col-md-3">
            <h3>Returns</h3>
            {% if returns %}
                {% for return_item in returns %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- add a badge to show the status -->
                            <span class="mb-4 badge" style="border: 1px solid #007bff; background-color: #e9f5ff; color: #007bff;">
                                {{ return_item.status|upper }}
                            </span>
                            <div class="d-flex align-items-center mb-2">
                                <h5 class="mb-0 mr-2">Return #{{ return_item.number }}</h5>
                                <small>
                                    <a href="{% url 'process-return-edit' case.id return_item.id %}">Edit</a>
                                </small>
                            </div>
                            <p class="card-text">Description: {{ return_item.description }}</p>
                            <p class="card-text">Created At: {{ return_item.created_at }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No returns found for this case.</p>
            {% endif %}
        </div>
        {% endif %}
        <!-- Credits Column -->
         {% if case.is_credit %}
        <div class="col-md-3">
            <h3>Credits</h3>
            {% if credits %}
                {% for credit in credits %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- add a badge to show the status -->
                            <span class="mb-4 badge" style="border: 1px solid #007bff; background-color: #e9f5ff; color: #007bff;">
                                {{ credit.status|upper }}
                            </span>
                            <div class="d-flex align-items-center mb-2">
                                <h5 class="mb-0 mr-2">Credit #{{ credit.number }}</h5>
                                <small>
                                    <a href="{% url 'process-credit-edit' case.id credit.id %}">Edit</a>
                                </small>
                            </div>
                            <p class="card-text">Description: {{ credit.description }}</p>
                            <p class="card-text">Created At: {{ credit.created_at }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No credits found for this case.</p>
            {% endif %}
        </div>
        {% endif %}
        <!-- Scrap Column -->
         {% if case.is_scrap %}
        <div class="col-md-3">
            <h3>Scrap</h3>
            {% if scraps %}
            {% for scrap in scraps %}
                <div class="card mb-3">
                <div class="card-body">
                    <!-- add a badge to show the status -->
                    <span class="mb-4 badge" style="border: 1px solid #007bff; background-color: #e9f5ff; color: #007bff;">
                    {{ scrap.status|upper }}
                    </span>
                    <div class="d-flex align-items-center mb-2">
                    <h5 class="mb-0 mr-2">Scrap #{{ scrap.number }}</h5>
                    <small>
                        <a href="{% url 'process-scrap-edit' case.id scrap.id %}">Edit</a>
                    </small>
                    </div>
                    <p class="card-text">Description: {{ scrap.description }}</p>
                    <p class="card-text">Created At: {{ scrap.created_at }}</p>
                </div>
                </div>
            {% endfor %}
            {% else %}
            <p>No scrap records found for this case.</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <hr>
    <!--  a delete case button on the bottom of the screen to the left -->
    <div class="d-flex justify-content-start mb-3 ml-3">
        <a href="{% url 'process-case-delete' case.id %}" class="btn btn-sm btn-outline-danger"
           onclick="return confirm('Are you sure you want to delete this case?');">
            Delete Case
        </a>
    </div>
</div>





{% endblock content %}

