{% extends "process/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- case detail -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>New Customer Case</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>





{% endblock content %}

