{% extends "process/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "process/components/progress_bar.html" %}

<!-- case detail -->
<div class="container mt-3">
    <div class="progress-bar-wrapper"></div>
    <div class="row">
        <div class="col-md-12">
            {% if return_instance %}
                <h2>Return #{{ return_instance.number }}</h2>
            {% else %}
                <h2>New Return</h2>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        {% for field in form.visible_fields %}
                            {% if forloop.counter0|divisibleby:3 %}
                                <div class="mb-3">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for field in form.visible_fields %}
                            {% if forloop.counter0|add:'2'|divisibleby:3 %}
                                <div class="mb-3">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% for field in form.visible_fields %}
                            {% if forloop.counter0|add:'1'|divisibleby:3 %}
                                <div class="mb-3">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                
            </form>
        </div>
    </div>
</div>





{% endblock content %}

